<% layout("/layouts/boilerplate") -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h3>Update listing</h3>
    <form action="/listings/<%= listings._id %>?_method=PUT" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="">Title: <span class="required">*</label>
        <input class="form-control"  value="<%=listings.title %>" type="text" name="listing[title]" required>
        <div class="invalid-feedback">Please enter a valid Title!</div>
        </div>
        <div class="mb-3">
            <label class="form-label"for="">Description: <span class="required">*</label>
        <input class="form-control" value="<%=listings.description %>" type="text" name="listing[description]" required>
        <div class="invalid-feedback">Please enter a short Description!</div>
        </div>
        <div class="mb-3">
            <img src="<%= transformedImageUrl %>" alt="ListingImage">
        </div>
        <div class="mb-3">
            <label class="form-label"for="">Upload New Image: <span class="required">*</label>
        <input class="form-control" value="<%= originalImageUrl %>"type="file" name="listing[image][url]" placeholder="Enter Img URL/Link" required>
        <div class="invalid-feedback">Please enter a Image!</div>
        </div>
       <div class="row">
        <div class="mb-3 col-4">
            <label class="form-label"for="">Price: <span class="required">*</label>
            <input class="form-control" value="<%=listings.price %>"type="text" name="listing[price]" required>
            <div class="invalid-feedback">Please enter a valid Price!</div>
        </div>
       <div class="mb-3 col-8">
        <label class="form-label"for="">Location: <span class="required">*</label>
        <input class="form-control" value="<%=listings.location %>"type="text" name="listing[location]" required>
        <div class="invalid-feedback">Please enter a valid Location!</div>
       </div>
       </div>
        <div class="mb-3">
            <label class="form-label"for="">Country: <span class="required">*</label>
        <input class="form-control" value="<%=listings.country %>"type="text" name="listing[country]" required>
        <div class="invalid-feedback">Please enter a valid Country!</div>
        </div>
        
        <input class="btn btn-dark edit-btn" type="submit" value="Edit Listing">
    </form>
        </div>
    </div>
</body>
<script>
    window.onload = function() {
        // Retrieve the original file path
        var originalImagePath = "<%= originalImageUrl %>";

        // Set the value of the file input field to the original file path
        document.querySelector('input[type="file"]').value = originalImagePath;
    };
</script>
